
  <footer>
 <p> Created by Prateek Chitransh -- Copyright {{getCurrentYear}} </p>
  </footer>


  <!---to see the changes in hbs view we need to specify the extensions that we
  want to see on the output. so while running the server we mention thse extensions
nodemon server.js -e js,hbs
  >
